<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title-CECHR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h1 style="text-align:center">新進人員填表</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="btn-group btn-group-lg" role="group">
                    <button class="btn btn-secondary" type="button">
                        新進人員總表
                    </button>
                    <button class="btn btn-secondary" type="button">
                        填表表單
                    </button>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
